<a href="https://colab.research.google.com/github/Saipradeep456/PYTHON-500-CODE/blob/main/data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
def addition():
  a = 10
  b = 20
  c = 30
  print(a+b+c+50)
  return a+b+c

In [27]:
variable = addition()

110

In [29]:
variable

60

In [43]:
def addition(a,b):
  print(a+b)
  return a+b

In [45]:
poll = addition(3,7)

10

In [47]:
poll

10

In [73]:
def addition(a,b):

  print(a+b)
  b = 20
  return a+b

In [74]:
addition(3,1)

4

23

In [68]:
def addition(a,b=10):  # default value
  print(a+b)
  return a+b

In [69]:
addition(9)

19

19

In [59]:
def popitem(a=-1):
  codes

In [91]:
#popitem(9)

In [89]:
#function :- takes the parameter
#function :-  doesnot takes up  the parameter



def age(age_value):
  if age_value > 60:
    #print("old")
    return "old"
  elif age_value >= 30 and  age_value <= 60 :
    #print(" middle age")
    return "middle age"
  elif age_value >= 19 and age_value <= 30 :
    #print("young")
    return "young"
  elif  13 < age_value <= 18:
   # print("teen age ")
   return "teen age"

  else:
    #print("kid")
    return "kid"

In [90]:
num = int(input("enter your age"))
age(num)

enter your age23

'young'

In [92]:
def advanced(a,b,c,d):  # BODMAS :- BRACKET OF DIVI, MULT,ADDITION., SUBSTRACTION
  return a+b-c*d

In [93]:
advanced(1,2,3,4)

-9

In [106]:
def advanced(*args):  # ARGS  it is only tuple and see the exampple 115 code cell i only give a,b,c,d, the add only that number after remaining number are convert the bracket meaning it is  a tuple.
  lis = list(args)

  return sum(lis)

In [107]:
add = advanced(1,2,34,5,6,7,8,9)

In [108]:
add

72

In [114]:
def advanced(a,b,c,d,*args):
  print(a,b,c,d,args)

In [115]:
advanced(1,23,4,5,6,5,6,79,9876,23456)

1 23 4 5 (6, 5, 6, 79, 9876, 23456)

In [131]:
def advanced(**kwargs):
  return kwargs

In [132]:
advanced(fruit = "apple", movie = "lovereddy")

{'fruit': 'apple', 'movie': 'lovereddy'}

In [137]:
def advanced(**kwargs):  ## KWARGS  it is only using dictionary  for example using kwargs that output is convert the dictionary format like u see the 138 code cell.
  kwargs["fruits"] = "mongoes"
  return (kwargs)

In [138]:
advanced(fruits = "apple", movie = "lovereddy")

{'fruits': 'mongoes', 'movie': 'lovereddy'}

In [140]:
# docstring meaning
def advanced(**kwargs):
  '''the is  a docstring format are susing python function that are using docstring foramt '''


  return kwargs

In [141]:
advanced.__doc__

'the is  a docstring format are susing python function that are using docstring foramt '